html{
    box-sizing: border-box;
}
*{
    margin: 0%;
    padding: 0%;
}
.table {
    margin: 0 auto;
    cursor: pointer;
  }
  
  .box {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
  }
  
  .black {
    background-color: black;
  }
  
  .white {
    background-color: white;
  }
  
  .red {
    background-color:red;
  }